.Panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
    /* position: absolute;
    z-index: 999; */
    background-color: #FFFFFF;
    width: 20%;
    height: 100%;
    /* top: 0;
    right: 0; */
}
.Panel-Title { 
    display: flex;
    justify-content: center;
    color: grey;
    padding-top: 20px;
    padding-bottom: 70px;
}
.Panel-Data { 
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 70px;
}
.Panel-Data-Sub {
    color: #BCB8B1;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
}
.Panel-Btn {
    background-color: #6C7C8D;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
label {
    font-size: 10px;
    padding-top: 10px;
}
input {
    background-color: #F6F6F6;
    border: none;
}